<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Gestor</title>
</head>
<body>

<h2>Editar Gestor</h2>

<form th:action="@{/gestores/atualizar/{id}(id=${gestor.id})}" method="post">

    <!-- ID escondido  -->
    <input type="hidden" name="id" th:value="${gestor.id}" />

    Nome: 
    <input type="text" name="nome" th:value="${gestor.nome}" required />
    <br><br>

    Email: 
    <input type="email" name="email" th:value="${gestor.email}" required />
    <br><br>

    <button type="submit">Atualizar</button>

</form>

<br>

<a href="/gestores">Voltar</a>

</body>
</html>